*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: Arial, sans-serif;
    background-color: #cb2222;
    color: #333;
    border: 5px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 20px;
}

